
  .footer {
    margin-top: 2em;
    background: #e6e6e6;
    padding: 40px 0;
    border-top: 1px solid #AAA;
  }
  
  .footer .container {
    position: relative;
  }
  
  .social a {
    display: block;
    width: 36px;
    height: 36px;
    text-indent: -9999px;
    
  }
  
  .social li {
    display: inline-block;
    margin-left: 1em;
  }
  
  
  .social a[href*="https://www.linkedin.com"] {
    background: url(../imagem/icone-linkedin.png);
    background-size: 36px 36px
  }
  
  .social a[href*='https://www.twitter.com'] {
    background: url(../imagem/icone-twitter.png);
    background-size: 36px 36px
  }
  
  .social a[href*='https://www.instagram.com'] {
    background: url(../imagem/icone-insta.png);
    background-size: 36px 36px
  }